.background__women {
  background-image: url(../../public/Solution/women.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 50vw;
  width: 100%;
  background-position-y: 1px;
  background-clip: content-box;
  border-bottom-right-radius: 120px;
  background-color: #a1a1a1;
  background-blend-mode: multiply;
}

@media (max-width: 768px) {
  .background__women {
    min-height: 100vh;
    border-bottom-right-radius: 80px;
  }
}